/* Skriv din Anonymitetskod här */

/* Länka in webfonten "Open Sans" från google fonts här*/

* {
  box-sizing: border-box;
 
}
html {
  font-size: 20px;
  font-family: 'Open Sans', garamond;
}
header>img {
  width: 100px;
}


/* ****************************************************************************** */
/*Deluppgift 2, Meny */

 





/* ****************************************************************************** */
/* Deluppgift 3, Styling och layout */






/* ****************************************************************************** */
/*Deluppgift 4, Responsivitet och formulärstyling */ 






/* ****************************************************************************** */